.bStep {
  background-color: #BD72B6;
  border-radius: 4px;
  margin: 5px 5px;
  padding: 12px;
  min-width: 270px;
  width: 270px;
}

.bStep__header {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #fff;
  cursor: grab;
}